html{
	height:100%;
}

body {
  height: 100%;
  
}

img.bg {
  /* Set rules to fill background */
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
position:relative;
bottom:400px;
}

.title{
	position:relative;
	bottom:330px;
	display: block;
	margin: 0 auto;
	z-index: 100;
	color:#fff;
	font-size:4.5em;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	
	text-transform: uppercase;
}

.subtitle{
	position:relative;
	bottom:330px;
	display: block;
	margin: 50px auto;
	z-index: 100;
	color:#fff;
	font-size:2.5em;
	text-align:center;
	font-family: Georgia, sans-serif;
	font-weight: 400;
	letter-spacing: 2px;
	font-style: italic;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.bg-intro{
	width:100%;
	height:500px;
	overflow:hidden;
}

.navbar{
	margin:0 !important;
	background:transparent;
	border-bottom: 1px solid #cbccce;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 4px;
	font-variant:small-caps;
	background:#FFFFFF;
}

h2.section{
    font-variant:small-caps;
	font-size:16px;
	color:#222;
	text-align:center;
	margin:80px 0 30px 0;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 4px;
	font-weight: 900;

}


.section-text{
	position:relative;
	z-index:2;
	font-family:Georgia;
	font-size:20px;
	color:#222222;
	line-height: 170%;
}

.quote {
	font-family:Georgia;
	font-size:25px;
	font-style: bold;
	margin-top:10px;
	margin-bottom:20px;
	color:#222222;
	float:right;
	
}
.note{
	font-family:Georgia;
	position:relative;
	position:relative;
	z-index:1;
	font-size:0.7em !important;
	width:10%;
	line-height:1em;
	
}
.section-text b{
	display:inline-block;
	cursor:default;
	background:transparent;
}

.bg-full{
	padding-top:100px;
	
}

.bg-full h1, .bg-full h2{
	text-align: center;
}

.bg-full h1{
	margin-bottom:50px;
	margin-top:-20px;
	font-family:Georgia, Serif;
}

.bg-full .section-text {
	
}

.section-text p{
	width:80%;
	
}
.pCanvas{
	width:100%;
	height:500px;
}

#protocol{
	color:#FFFFFF;
	z-index:1031;
	width:100%;
	height:100%;
	position:fixed;
	left:98%;
	top:0;
	background:#425863;
	
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.proto-title{
	font-family:'Montserrat', sans-serif;
	font-size:0.8em;
	font-weight:400px;
	font-variant:small-caps;
	letter-spacing: 7px;
	-moz-transform-origin:0 50%;
    -moz-transform:rotate(-90deg) translate(-50%, 51.5%);
    -webkit-transform-origin:0 50%;
    -webkit-transform:rotate(-90deg) translate(-50%, 51.5%);
    -o-transform-origin:0 50%;
    -o-transform:rotate(-90deg) translate(-50%, 51.5%);
    -ms-transform-origin:0 50%;
    -ms-transform:rotate(-90deg) translate(-50%, 51.5%);
    transform-origin:0 50%;
    transform:rotate(-90deg) translate(-50%, 51.5%);
    position:absolute;
    top:0;
    bottom:0;
    cursor:default;
}

.close{
	float:right;
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

li.active a{
	background:#ffffff !important;
	color:#222222 !important;
	font-weight:700;
}

.step{
	width:33%;
	float:left;
	padding:20px;
	text-align:center;
	margin-top:100px;
	border-left: 1px solid #fff;
	height:80%;
}

.step:first-child{
	border:none;
}

.step p{
	width:80%;
	text-align:left;
	display:block;
	margin:0 auto;	
	font-family:Georgia;
	font-size:16px;
	line-height: 170%;
	padding-bottom: 20px;
}

.step h3{
	width:80%;
	display:block;
	text-transform: uppercase;
	font-size:18px;
	margin:20px auto;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 4px;
	font-weight: 900;
}


.carousel{
	height: 100%;
		width: 90%;
	margin: 0 auto;
}

.carousel-control{
	background:none !important;
	display:none;
}

.carousel-inner{
	height:100%;
}

.item{
	height:80%;
}
.step-cont{
	margin:0 auto;
	width:auto;
}
section{
	height:100%;
}
.side-panel{
	width:20%;
	padding-top:80px;
	border-right:1px solid #CBCCCE;
	height:100%;
}

.adv-step{
	display:none;
}

.adv-step h4{
	padding:0 20px;
	text-transform: uppercase;
	font-size:16px;
	color:#222;
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 4px;
	font-weight: 900;
}

.adv-step p{
	padding:0 20px;
	position:relative;
	z-index:2;
	font-family:Georgia;
	font-size:16px;
	color:#222222;
	line-height: 170%;
}

.adva-cont{
	height:70%;
	overflow:scroll;
}
.viz{
	border-top:1px solid #CBCCCE;
	border-bottom:1px solid #CBCCCE;
}

.legend{
	border-top:1px solid #CBCCCE;
}

.legend h5{
	padding:0 20px;
	text-transform: uppercase;;
	font-size:12px;
	color:#222;
	margin: 20px 0 ;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 4px;
	font-weight: 900;
}

.legend p{
	padding:0 20px;
	position:relative;
	z-index:2;
	font-family:Georgia;
	font-size:12px;
	color:#222222;
	line-height: 170%;
}

.protocol .btn{
	margin-top:20px;
}

