html{
	height:100%;
}

body {

	height: 100%;
	position:relative;

}


img.bg {
	/* Set rules to fill background */
	min-width: 1024px;
	
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	
	/* Set up positioning */
	position:relative;
	bottom:400px;
}

.title{
	position:relative;
	bottom:330px;
	display: block;
	margin: 0 auto;
	z-index: 100;
	color:#fff;
	font-size:4.5em;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

.subtitle{
	position:relative;
	bottom:330px;
	display: block;
	margin: 50px auto;
	z-index: 100;
	color:#fff;
	font-size:2.5em;
	text-align:center;
	font-family: Georgia, sans-serif;
	font-weight: 400;
	letter-spacing: 2px;
	font-style: italic;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
	img.bg {
		left: 50%;
		margin-left: -512px;   /* 50% */
	}
}

.bg-intro{
	width:100%;
	height:500px;
	overflow:hidden;
}

.navbar{
	margin:0 !important;
	background:transparent;
	border-bottom: 1px solid #cbccce;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 4px;
	font-variant:small-caps;
	background:#FFFFFF;
}


.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
	color:#425863;
}

h2.section{
	font-variant:small-caps;
	font-size:16px;
	color:#222;
	text-align:center;
	margin:80px 0 30px 0;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 3px;
	font-weight: 900;

}

h3.section{
	font-variant:small-caps;
	font-size:1.7em;
	color:#222;
	text-align:left;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 3px;
	font-weight: 700;
	border-bottom: 1px solid #cbccce
}

h4.section{
	font-variant:small-caps;
	font-size:1em;
	color:#cbccce;
	text-align:left;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	font-weight: 400;
	line-height: 10%;
}

.section-text{
	position:relative;
	z-index:2;
	font-family:Georgia;
	font-size:20px;
	color:#222222;
	line-height: 170%;
	margin-bottom: 50px;
}

.quote {
	font-family:Georgia;
	font-size:25px;
	font-style: bold;
	margin-top:10px;
	margin-bottom:20px;
	color:#222222;
	float:right;	
}
.note{
	font-family:Georgia;
	position:absolute;
	z-index:1;
	left:80%;
	font-size:0.7em !important;
	width:10%;
	line-height:1em;
	
}
.section-text b{
	display:inline-block;
	cursor:default;
	background:transparent;
}

.link-section {
	font-size:1em;
	text-align:center;
	margin-top: 30px;
}

.bg-full{
	padding-top:60px;
	
}

section h1, section h2{
	text-align: center;
}

section h1{
	margin-bottom:50px;
	margin-top:-20px;
	font-family:Georgia, Serif;
}

.bg-full .section-text {
	
}

.section-text p{
	width:80%;
	
}
.pCanvas{
	width:100%;
	height:500px;
}

#protocol{
	color:#FFFFFF;
	z-index:1031;
	width:100%;
	height:100%;
	position:fixed;
	left:100%;
	top:0;
	background:#425863;
	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.proto-title{
	font-family:'Montserrat', sans-serif;
	font-size:1.00em;
	font-weight:400px;
	font-variant:small-caps;
	letter-spacing: 7px;
	-moz-transform-origin:0 50%;
	-moz-transform:rotate(-90deg) translate(-50%, 51.5%);
	-webkit-transform-origin:0 50%;
	-webkit-transform:rotate(-90deg) translate(-50%, 51.5%);
	-o-transform-origin:0 50%;
	-o-transform:rotate(-90deg) translate(-50%, 51.5%);
	-ms-transform-origin:0 50%;
	-ms-transform:rotate(-90deg) translate(-50%, 51.5%);
	transform-origin:0 50%;
	transform:rotate(-90deg) translate(-50%, 51.5%);
	position:absolute;
	top:0;
	bottom:0;
	cursor:default;
}

.close-btn{
	
	width:10px;
	-webkit-transform: rotate(45deg);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
}

.navbar .navbar-collapse {
	text-align: center;
}

li.active a{
	background:#ffffff !important;
	color:#222222 !important;
	font-weight:700;
}

.step{
	width:33%;
	float:left;
	padding:0px;
	text-align:center;
	margin-top:40px;
	height:100%;
	border-left: solid 1px #586D75;
}

.step:first-child{
	border:none;
}

.step p{
	width:80%;
	text-align:left;
	display:block;
	margin:0 auto;	
	font-family:Georgia;
	font-size:1em;
	line-height: 170%;
}

.step h3{
	width:80%;
	display:block;
	text-transform: uppercase;
	font-size:18px;
	margin:20px auto;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 4px;
	font-weight: 900;
}

.step h5{
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	color: #D6C33B;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: normal;
	text-align:left;
	margin:10px auto;
}

.step a{
	color:#fff;
}
.step a:hover{
	color:#eee;
}


.details{
	width:80%;	
	margin:40px auto;
	border-top: solid 4px #586D75;
	border-bottom: solid 1px #586D75;
	position: relative;
}

.link-download, .link-visualization{
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9em;
	color: #fff;
	letter-spacing: 1px;
	font-weight: 400;
	padding-top:8px;
	padding-bottom: 8px;
	text-align: left;
	text-decoration: none;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	border-top: solid 1px #586D75;
}


.link-download:before{
	content:url(../img/pro_download.png);
	margin-right:10px;
}

.link-visualization:before{
	content:url(../img/pro_viz.png);
	margin:0 10px 30px 0;
}

.carousel{
	height: 100%;
	width: 90%;
	margin: 0 auto;
}

.carousel-control{
	background:none !important;
	display:none;
}

.carousel-inner{
	height:100%;
}

.item{
	height:80%;
}
.step-cont{
	margin:0 auto;
	width:auto;
}
section{
	height:100%;
	overflow:auto;
}
.side-panel{
	width:20%;
	padding-top:80px;
	border-right:1px solid #CBCCCE;
	height:100%;
	float: left;
}

.main-panel{
	width:80%;
	padding-top:80px;
	height:100%;
	float: right;
}

.adv-step{
	display:none;
}

.adv-step h4{
	padding:0 20px;
	text-transform: uppercase;
	font-size:16px;
	color:#222;
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 4px;
	font-weight: 900;
}

.adv-step p{
	padding:0 20px;
	position:relative;
	z-index:2;
	font-family:Georgia;
	font-size:16px;
	color:#222222;
	line-height: 170%;
}

.adva-cont{
	height:80%;
	overflow:auto;
}
.viz{
	border-top:1px solid #CBCCCE;
	border-bottom:1px solid #CBCCCE;
}

.legend{
	border-top:1px solid #CBCCCE;
}

.legend h5{
	padding:0 20px;
	text-transform: uppercase;;
	font-size:12px;
	color:#222;
	margin: 20px 0 ;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	font-weight: 400;
}

.legend p{
	padding:0 20px;
	position:relative;
	z-index:2;
	font-family:Georgia;
	font-size:12px;
	color:#222222;
	line-height: 170%;
}


.closing{
	cursor:pointer;
}
.long{
	padding-bottom:250px;
}

/* barchart analytics */

.yvalue, .ylegend, .bubbleLegend{
	font-family: 'Montserrat';
	color: "#222";
	font-weight: "700";
	font-size: 12px;
}


.bgBubble, .bgBar{
	fill: none;
	stroke: #CBCCCE;
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-dasharray: 1,2;
}

.bar, .bubble{
	fill: #84A594;
	-webkit-transition:fill 0.3s ease-in-out;  
	transition:fill 0.3s ease-in-out;
}
.bar:hover, .bubble:hover{
	fill: #5c7367;
}
.bar.selected, .bubble.selected{
	fill: #5c7367;
}


/* table section */

.section-table h4 {
	font-family:'Montserrat';
	font-variant:small-caps;
	font-size:19px;
	margin:50px 0 40px 0;
	font-weight: 900;
	text-align:center;
}

.row-table{
	border-top: solid 1px #ccc;
	padding:10px 0 15px 0;
}

.table-title{
	font-family:'Montserrat', sans-serif;
	font-variant:small-caps;
	font-size:16px;
}

.table-descr{
	font-family:Georgia;
	font-size:16px;
	color:#222222;
	line-height: 150%;
}

.section-notes{
	font-family:Georgia;
	font-size:12px;
	color:#222222;
	line-height: 150%;
}


.section-notes h4{
	font-variant:small-caps;
	font-size:16px;
	color:#222;
	text-align:center;
	margin:50px 0 20px 0;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	font-weight: 900;
}

#spazio{
	margin-top:40px;
}

ol {
	display: block;
	list-style-type: decimal;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

/*analytics*/
.analytics {
	padding-left:0;
}

.numbers{
	z-index:2;
	font-family:Georgia;
	font-size:1.4em;
	color:#222222;
	padding-bottom:15px;
}

/* graph */

#graph{
	height: 100%;
}

::-webkit-scrollbar {
    display:none;
}

/* Load wheel */
.modal {
    display:    none;
    opacity: 	0;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../img/load.gif') 
                50% 50% 
                no-repeat;
                
    -webkit-transition: opacity .85s ease-in-out;
    -moz-transition: opacity .85s ease-in-out;
    -ms-transition: opacity .85s ease-in-out;
    -o-transition: opacity .85s ease-in-out;
    transition: opacity .85s ease-in-out;
                
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
    opacity: 1;
}

#sgnaf{
	position:fixed;
	left:0;
	top:57px;
	height:3px;
	background-color:#84A594;
	width:0%;
	-webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}
