#custom p {
margin-bottom: 50px;
}

/*Single Buttons*/
#custom .btn {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	outline: none;
}



#custom .btn:focus {
	background-color: #cbccce;
}


/*Toggles*/

#custom .btn-group {
	color:#cbccce;

}

/*Checkboxes*/
#custom .checkbox label{
	font-family: 'Montserrat', sans-serif;
}


/*typography*/
#custom h4{
	font-variant:small-caps;
	font-size:1em;
	color:#cbccce;
	text-align:left;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	font-weight: 400;
	line-height: 10%;
	margin-bottom: 20px;
}

.btn-container{
	margin: 10px 10px 0 20px;
}

.btn-container span{
	
	margin-left:10px;
}
.pressed{
	background-color: #ebebeb;
}


