<div class="container cont-analytics">
  <div class="row section-row" style="height:100%">
    <!-- Analytics --> 
    <div class="col-md-8 col-sm-12 analytics" style="height:100%" >
      <h3 class="section-title">results per query</h3>
      <hr>
      <div style="height:100%; width:100%" id="query"></div>
    </div>

    <!-- Bar Charts --> 
    <div class="col-md-4 col-sm-12 analytics" style="height:100%">
      <h3 class="section-title">results per category</h3>
      <hr>
      <!-- Category --> 
      <div style="height:25%; width:100%" id="category">
      </div>
      <!-- Domain --> 
      <h3 class="section-title">results per domain</h3>
      <hr>
      <div style="height:75%; width:100%" id="domain">
      </div>
    </div>
  </div>
</div>