<div class="adv-step step0">
  <p>
    Here is the list of all the n-grams we extracted from the corpus ordered by TF. Besides some terms related to the adoption of FP like percent, information and access, can also be found some terms related some more specific issues like the concept of life, the unmeet needs and even more specific ones like muslims referring to religious views on FP.
  </p>

</div>

<div class="adv-step step1">
  <p>
    Explore the visualization.
  </p>
  <div class="legend-controls">
    <h3>type of analysis</h3>
    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopetfidf" btn-radio="'dataTF'">TF</button>
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopetfidf" btn-radio="'dataTFIDF'">TF/IDF</button>
    </div>
    <h3>compare</h3>
    <select class="form-control" ng-model="ctrlmodels.fp_text_slope.slopeCatSel.one" ng-options="opt for opt in ctrlmodels.fp_text_slope.slopeCat"></select>
    <br>
    <select class="form-control" ng-model="ctrlmodels.fp_text_slope.slopeCatSel.two" ng-options="opt for opt in ctrlmodels.fp_text_slope.slopeCat"></select>
    <br>
    <select class="form-control" ng-model="ctrlmodels.fp_text_slope.slopeCatSel.three" ng-options="opt for opt in ctrlmodels.fp_text_slope.slopeCat"></select>
    <br>
<!--     <select class="form-control" ng-model="ctrlmodels.fp_text_slope.slopeCatSel.four" ng-options="opt for opt in ctrlmodels.fp_text_slope.slopeCat"></select> -->
  </div>
</div>