<div class="container-fluid side-all">
  <div class="row side-all">
    <div class="col-md-3 col-sm-12 side-panel">
      <div class="row side-all">
        <div class="col-md-12 col-sm-9 col-xs-9 adva-cont">
          <div class="adv-step step1" style="display:block;">

            <h3>crawiling network graph</h3>
            <h2>Visualizing the Clusters - 1</h2>
            <hr>
            <p>
              Nevertheless, upon Stubb setting the anchor-watch after his supper was concluded; and when, accordingly, Queequeg and a forecastle seaman came on deck, no small excitement was created among the sharks; for immediately suspending the cutting stages over the side, and lowering three lanterns, so that they cast long gleams of light over the turbid sea, these two mariners, darting their long whaling-spades, kept up an incessant murdering.
            </p>

          </div>

          <div class="adv-step step2">

            <h3>crawiling network graph</h3>
            <h2>Visualizing the Clusters - 2</h2>
            <hr>
            <p>
              Nevertheless, upon Stubb setting the anchor-watch after his supper was concluded; and when, accordingly, Queequeg and a forecastle seaman came on deck, no small excitement was created among the sharks; for immediately suspending the cutting stages over the side, and lowering three lanterns, so that they cast long gleams of light over the turbid sea, these two mariners, darting their long whaling-spades, kept up an incessant murdering.
            </p>

          </div>

          <div class="adv-step step3">

            <h3>crawiling network graph</h3>
            <h2>Visualizing the Clusters - 3</h2>
            <hr>
            <p>
              Nevertheless, upon Stubb setting the anchor-watch after his supper was concluded; and when, accordingly, Queequeg and a forecastle seaman came on deck, no small excitement was created among the sharks; for immediately suspending the cutting stages over the side, and lowering three lanterns, so that they cast long gleams of light over the turbid sea, these two mariners, darting their long whaling-spades, kept up an incessant murdering.
            </p>

          </div>

          <div class="adv-step step4">

            <h3>crawiling network graph</h3>
            <h2>Visualizing the Clusters - 4</h2>
            <hr>
            <p>
              Nevertheless, upon Stubb setting the anchor-watch after his supper was concluded; and when, accordingly, Queequeg and a forecastle seaman came on deck, no small excitement was created among the sharks; for immediately suspending the cutting stages over the side, and lowering three lanterns, so that they cast long gleams of light over the turbid sea, these two mariners, darting their long whaling-spades, kept up an incessant murdering.
            </p>

          </div>

          <div class="adv-step step5">

            <h3>crawiling network graph</h3>
            <h2>Visualizing the Clusters - 5</h2>
            <hr>
            <p>
              Nevertheless, upon Stubb setting the anchor-watch after his supper was concluded; and when, accordingly, Queequeg and a forecastle seaman came on deck, no small excitement was created among the sharks; for immediately suspending the cutting stages over the side, and lowering three lanterns, so that they cast long gleams of light over the turbid sea, these two mariners, darting their long whaling-spades, kept up an incessant murdering.
            </p>

          </div>

          <div class="adv-step step6">

            <h3>explore network graph</h3>
            <h2>Try it yourself</h2>

          </div>

        </div>

        <div class="col-md-12 col-sm-3 col-xs-3 legend">
          <h3>key</h3>
          <p>
            Blue is good
            <br/>
            Red is bad
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-sm-12 main-viz">
            <div id="graph"></div>
    </div>

  </div>
</div>