<div class="adv-step step0">

  <p>
  Compared to Birth Control, Family planning article has a shorter and simpler evolution. 
  </p>
  <p>
  The article was created in 2003, pointing to ‘Birth Control’ article. The first edit come in 2006, but we have no article structure until august in the same year. 
  Article had a troubled beginning, since added sections were quickly removed. 
  </p>
  <p>
  From August 2006 article had an organic growth, and didn’t require any revision of the structure. Its evolution is mainly based on the development of sub-section particularly focused on the national policies on the topic.  
  </p>


</div>

<div class="adv-step step1">

  <p>
    U.S. Policies were the first added. It is not surprising: even if it is seen as the ‘global’ version fo the encyclopedia, en.wikipedia reflect mainly U.S. point of view. In the same month China one-child policy was added.
  </p>

</div>

<div class="adv-step step2">

  <p>
    In following years were added Iran, India, Hong Kong, Pakistan, the Philippines, Ireland, Singapore, United Kingdom and Russia.
  </p>

</div>

<div class="adv-step step3">

  <p>
    It is interesting to see that in December 2012 the section “assisted reproductive technology” was added, to cover not only the prevention of pregnancies through birth control methods but also the technical solution to support it.
  </p>

</div>

<div class="adv-step step4">

  <p>
    Nevertheless, upon Stubb setting the anchor-watch after his supper was concluded; and when, accordingly, Queequeg and a forecastle seaman came on deck, no small excitement was created among the sharks; for immediately suspending the cutting stages over the side, and lowering three lanterns, so that they cast long gleams of light over the turbid sea, these two mariners, darting their long whaling-spades, kept up an incessant murdering.
  </p>

</div>

<div class="adv-step step5">

  <p>Explore the wikitoc graph</p>
   <p>Clicking on the single elements of the TOC you can visit the original edit on Wikipedia</p>
<!--   <div class="legend-controls">
    <h3>type of analysis</h3>
    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopetfidf" btn-radio="'dataTF'">TF</button>
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopetfidf" btn-radio="'dataTFIDF'">TF/IDF</button>
    </div>
    <h3>type of analysis</h3>
    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopescale" btn-radio="true">normalized</button>
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopescale" btn-radio="false">not normalized</button>
    </div>
  </div> -->
</div>