<div nav-bar></div>
<div class="sgnaf-container">
	<progressbar max="ctrlmodels.sgnafmax" value="ctrlmodels.sgnafindex"></progressbar>
</div>

<div class="section" data-anchor="{{section.id}}" ng-repeat="section in sections" ng-if="$index >= 0" app-sections>
</div>

 <div class="scrolldown">
  <div class="arrows">
    <div class="arrow-prev" onClick="$.fn.fullpage.moveSectionUp()"></div>
    <div class="arrow-next" onClick="$.fn.fullpage.moveSectionDown()"></div>
  </div>
</div>

<div protocol></div>

<div nav-menu></div>