<div class="adv-step step0">

  <p>
    The blue nodes represent the 9 queries we designed.
  </p>

  <p class="adv-inc step1">
   They provided us with 268 valid webpages.
  </p>

  <p class="adv-inc step2">
    The pages have been aggregated on the domain name obtaining 193 websites related to the Cesarean section topic.
  </p>

  <p class="adv-inc step3">
   Only a few of the websites are shared among the different queries so to reflect different discursive spaces.
  </p>

</div>

<div class="adv-step step4">
  <p>Then we tagged the websites using the four categories:</p>
  <div bar-chart-query></div>
  <p>
    Now you can explore the network by yourself.
  </p>
  <!--<p>There're some <span class="underline" ng-click="ctrlmodels.cs_query_network.zoomNodes = 'true'">nodes</span> that have more than one query</p>-->
<!--     <p>
    <span class="underline" ng-click="ctrlmodels.cs_query_network.zoomNodes = false">Resetview</span>
  </p> -->


</div>