<div class="adv-step step0">

  <p>
  <i class="fa fa-circle" style="color:#02484C; font-size:0.8em"></i> These are 9 queries we designed.
  </p>

  <p class="adv-inc step1">
   <i class="fa fa-circle" style="color:#B2B2B2; font-size:0.8em"></i> They provided us with 268 valid webpages.
  </p>

  <p class="adv-inc step2">
        <i class="fa fa-circle" style="color:#42A8A8; font-size:0.8em"></i> The pages have been aggregated on the domain name obtaining 193 web sites related to the Cesarean section section topic.
  </p>

  <p class="adv-inc step3">
   The dot dimension represents the number of valid pages.<br>
   Only a few of the websites are shared among the different queries so to reflect different discursive spaces.
  </p>

</div>

<div class="adv-step step4">
  <p>Then we tagged the websites using the four categories:</p>
  <div bar-chart-query></div>
  <p>
    Now you can explore the network by yourself.
  </p>
  <!--<p>There're some <span class="underline" ng-click="ctrlmodels.cs_query_network.zoomNodes = 'true'">nodes</span> that have more than one query</p>-->
<!--     <p>
    <span class="underline" ng-click="ctrlmodels.cs_query_network.zoomNodes = false">Resetview</span>
  </p> -->


</div>