<div class="container cont-analytics">
  <div class="row section-row" style="height:100%">
    <!-- Analytics --> 
    <div class="col-md-8 col-sm-12 analytics quecont" style="height:100%" >
      <div class="quetit" style="padding:1px">
      <h3 class="section-title">results per query</h3>
      <hr>
      </div>

      <div id="query"></div>
    </div>

    <!-- Bar Charts --> 
    <div class="col-md-4 col-sm-12 analytics" style="height:100%">
      <div style="height:60%" class="catcont">
        <div class="cattit" style="padding:1px">
          <h3 class="section-title">results per category</h3>
          <hr>
        </div>
        <div id="category">
        </div>
      </div>
      <div style="height:40%" class="domcont">
          <div class="domtit" style="padding:1px">
          <h3 class="section-title">results per domain</h3>
          <hr>
        </div>
        <div id="domain" style="height:90%">
        </div>
      </div>
    </div>
  </div>
</div>