<div class="container-fluid side-all">
  <div class="row side-all">
    <div class="col-md-3 col-sm-12 side-panel">
      <div class="row side-all">
          <div class="col-md-12 col-sm-9 col-xs-9" id="paginationStep">
        </div>
        <div class="col-md-12 col-sm-9 col-xs-9 adva-cont" legend-step>
        </div>
        <div class="col-md-12 col-sm-3 col-xs-3 legend" ng-show="section.legend" legend-static>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-sm-12 main-viz">
      <div class="row section-row" style="height:100%">
        <div class="col-md-3 col-sm-12" id="tocLegend" style="height:100%" >
        </div>
        <div class="col-md-9 col-sm-12" id="tocGraph" style="height:100%;overflow-x:auto;padding-right:40px">
        </div>
      </div>
    </div>
  </div>
</div>