<div class="adv-step step0">

  <p>
    Following its evolution it is possible to trace which section were considered most important, which one were dropped, which ones were moved to the top or to the bottom.<br>
    The ‘Birth control’ article has a long history, back when Wikipedia was unknown to the large public. We lost trace of the first editor, as the article was created with the very first version of the software, then replaced by the actual one in January 2002. Article begins with conversionBot migrating the article on the freshly-coded MediaWiki platform.
  </p>

</div>

<div class="adv-step step1">

  <p>
  For the first two years the article remained unmodified, if we don’t count an edit in 2003 just removing semicolons.
  </p>

</div>

<div class="adv-step step2">

  <p>
  Looking at his evolution, we can see that structure evolved through ‘thematic’ time spans: first defining birth control methods, then its history and the related ethical issues.
  </p>

</div>

<div class="adv-step step3">

  <p>
  While growing, article needed some major revision of the structure, in particular defining the order of the topic. One clear example is the switch between history and methods description in 2011: as the historic section become too big, users understood that methods description was the main core of the article, and therefore the first element to present in the article.
  </p>

</div>

<div class="adv-step step4">

  <p>
    On the visualization is possible to follow the evolution of each section. Particularly interesting is the section dedicated to ethical issues whose subject moved, toward years, from the religious to a more national and then social aspects. 
  </p>

</div>

<div class="adv-step step5">

  <p>
    The chapter, at beginning, was called ‘Religious and cultural attitude to birth control’. The first structural edit was aimed to explain the protestant and catholic view on it. Judaism and Islam were then added. 
  </p>

</div>
<div class="adv-step step6">

  <p>
    In july 2006, was added the first non-religious subsection, ‘Birth control education’.
  </p>

</div>
<div class="adv-step step7">

  <p>
   In july 2006, was added the first non-religious subsection, ‘Birth control education’.
   Section grew up until 2006, when following Wikipedia policies, detached as independent article.
  </p>

</div>
<div class="adv-step step8">

  <p>
   Section remained unmodified until May 2011, when it was joined with ‘Legality’ under ‘Society and culture’.
  </p>

</div>
<div class="adv-step step9">

  <p>
    In august 2012 ‘Birth control movement’ section was merged into it and added ‘world contraception day’.
  </p>

</div>


<div class="adv-step step10">

  <p>Explore the wikitoc graph.</p>
<!--   <div class="legend-controls">
    <h3>type of analysis</h3>
    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopetfidf" btn-radio="'dataTF'">TF</button>
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopetfidf" btn-radio="'dataTFIDF'">TF/IDF</button>
    </div>
    <h3>type of analysis</h3>
    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopescale" btn-radio="true">normalized</button>
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopescale" btn-radio="false">not normalized</button>
    </div>
  </div> -->
</div>