<div class="adv-step step0">

  <p>
    The ‘Birth control’ article has a long history, back when Wikipedia was unknown to the large public. We lost trace of the first editor, as the article was created with the very first version of the software, then replaced by the actual one in January 2002. Article begins with conversionBot migrating the article on the freshly-coded MediaWiki platform.
  </p>

</div>

<div class="adv-step step1">

  <p>
  For the first two years the article remained unmodified, if we don’t count an edit in 2003 just removing semicolons.
  </p>

</div>

<div class="adv-step step2">

  <h3>crawiling network graph</h3>
  <h2>Visualizing the Clusters - 3</h2>
  <hr>
  <p>
    Nevertheless, upon Stubb setting the anchor-watch after his supper was concluded; and when, accordingly, Queequeg and a forecastle seaman came on deck, no small excitement was created among the sharks; for immediately suspending the cutting stages over the side, and lowering three lanterns, so that they cast long gleams of light over the turbid sea, these two mariners, darting their long whaling-spades, kept up an incessant murdering.
  </p>

</div>

<div class="adv-step step3">

  <h3>crawiling network graph</h3>
  <h2>Visualizing the Clusters - 3</h2>
  <hr>
  <p>
    Nevertheless, upon Stubb setting the anchor-watch after his supper was concluded; and when, accordingly, Queequeg and a forecastle seaman came on deck, no small excitement was created among the sharks; for immediately suspending the cutting stages over the side, and lowering three lanterns, so that they cast long gleams of light over the turbid sea, these two mariners, darting their long whaling-spades, kept up an incessant murdering.
  </p>

</div>

<div class="adv-step step4">

  <h3>crawiling network graph</h3>
  <h2>Visualizing the Clusters - 3</h2>
  <hr>
  <p>
    Nevertheless, upon Stubb setting the anchor-watch after his supper was concluded; and when, accordingly, Queequeg and a forecastle seaman came on deck, no small excitement was created among the sharks; for immediately suspending the cutting stages over the side, and lowering three lanterns, so that they cast long gleams of light over the turbid sea, these two mariners, darting their long whaling-spades, kept up an incessant murdering.
  </p>

</div>

<div class="adv-step step5">

  <h3>crawiling network graph</h3>
  <h2>Visualizing the Clusters - 3</h2>
  <hr>
  <p>
    Nevertheless, upon Stubb setting the anchor-watch after his supper was concluded; and when, accordingly, Queequeg and a forecastle seaman came on deck, no small excitement was created among the sharks; for immediately suspending the cutting stages over the side, and lowering three lanterns, so that they cast long gleams of light over the turbid sea, these two mariners, darting their long whaling-spades, kept up an incessant murdering.
  </p>

</div>
<div class="adv-step step6">

  <h3>crawiling network graph</h3>
  <h2>Visualizing the Clusters - 3</h2>
  <hr>
  <p>
    Nevertheless, upon Stubb setting the anchor-watch after his supper was concluded; and when, accordingly, Queequeg and a forecastle seaman came on deck, no small excitement was created among the sharks; for immediately suspending the cutting stages over the side, and lowering three lanterns, so that they cast long gleams of light over the turbid sea, these two mariners, darting their long whaling-spades, kept up an incessant murdering.
  </p>

</div>
<div class="adv-step step7">

  <h3>crawiling network graph</h3>
  <h2>Visualizing the Clusters - 3</h2>
  <hr>
  <p>
    Nevertheless, upon Stubb setting the anchor-watch after his supper was concluded; and when, accordingly, Queequeg and a forecastle seaman came on deck, no small excitement was created among the sharks; for immediately suspending the cutting stages over the side, and lowering three lanterns, so that they cast long gleams of light over the turbid sea, these two mariners, darting their long whaling-spades, kept up an incessant murdering.
  </p>

</div>
<div class="adv-step step8">

  <h3>crawiling network graph</h3>
  <h2>Visualizing the Clusters - 3</h2>
  <hr>
  <p>
    Nevertheless, upon Stubb setting the anchor-watch after his supper was concluded; and when, accordingly, Queequeg and a forecastle seaman came on deck, no small excitement was created among the sharks; for immediately suspending the cutting stages over the side, and lowering three lanterns, so that they cast long gleams of light over the turbid sea, these two mariners, darting their long whaling-spades, kept up an incessant murdering.
  </p>

</div>
<div class="adv-step step9">

  <h3>crawiling network graph</h3>
  <h2>Visualizing the Clusters - 3</h2>
  <hr>
  <p>
    Nevertheless, upon Stubb setting the anchor-watch after his supper was concluded; and when, accordingly, Queequeg and a forecastle seaman came on deck, no small excitement was created among the sharks; for immediately suspending the cutting stages over the side, and lowering three lanterns, so that they cast long gleams of light over the turbid sea, these two mariners, darting their long whaling-spades, kept up an incessant murdering.
  </p>

</div>


<div class="adv-step step10">

  <h3>explore the wikitoc graph</h3>
<!--   <div class="legend-controls">
    <h3>type of analysis</h3>
    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopetfidf" btn-radio="'dataTF'">TF</button>
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopetfidf" btn-radio="'dataTFIDF'">TF/IDF</button>
    </div>
    <h3>type of analysis</h3>
    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopescale" btn-radio="true">normalized</button>
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopescale" btn-radio="false">not normalized</button>
    </div>
  </div> -->
</div>