<div class="adv-step step0">

  <h3>crawiling network graph</h3>
  <h2>Visualizing the Clusters - 1</h2>
  <hr>
  <p>
    Nevertheless, upon Stubb setting the anchor-watch after his supper was concluded; and when, accordingly, Queequeg and a forecastle seaman came on deck, no small excitement was created among the sharks; for immediately suspending the cutting stages over the side, and lowering three lanterns, so that they cast long gleams of light over the turbid sea, these two mariners, darting their long whaling-spades, kept up an incessant murdering.
  </p>

</div>

<div class="adv-step step1">

  <h3>crawiling network graph</h3>
  <h2>Visualizing the Clusters - 2</h2>
  <hr>
  <p>
    Nevertheless, upon Stubb setting the anchor-watch after his supper was concluded; and when, accordingly, Queequeg and a forecastle seaman came on deck, no small excitement was created among the sharks; for immediately suspending the cutting stages over the side, and lowering three lanterns, so that they cast long gleams of light over the turbid sea, these two mariners, darting their long whaling-spades, kept up an incessant murdering.
  </p>

</div>

<div class="adv-step step2">

  <h3>crawiling network graph</h3>
  <h2>Visualizing the Clusters - 3</h2>
  <hr>
  <p>
    Nevertheless, upon Stubb setting the anchor-watch after his supper was concluded; and when, accordingly, Queequeg and a forecastle seaman came on deck, no small excitement was created among the sharks; for immediately suspending the cutting stages over the side, and lowering three lanterns, so that they cast long gleams of light over the turbid sea, these two mariners, darting their long whaling-spades, kept up an incessant murdering.
  </p>

</div>

<div class="adv-step step3">

  <h3>crawiling network graph</h3>
  <h2>Visualizing the Clusters - 4</h2>
  <hr>
  <p>
    Nevertheless, upon Stubb setting the anchor-watch after his supper was concluded; and when, accordingly, Queequeg and a forecastle seaman came on deck, no small excitement was created among the sharks; for immediately suspending the cutting stages over the side, and lowering three lanterns, so that they cast long gleams of light over the turbid sea, these two mariners, darting their long whaling-spades, kept up an incessant murdering.
  </p>

</div>

<div class="adv-step step4">

  <h3>crawiling network graph</h3>
  <h2>Visualizing the Clusters - 5</h2>
  <hr>
  <p>
    Nevertheless, upon Stubb setting the anchor-watch after his supper was concluded; and when, accordingly, Queequeg and a forecastle seaman came on deck, no small excitement was created among the sharks; for immediately suspending the cutting stages over the side, and lowering three lanterns, so that they cast long gleams of light over the turbid sea, these two mariners, darting their long whaling-spades, kept up an incessant murdering.
  </p>

</div>

<div class="adv-step step5">

  <h3>explore the slope graph</h3>
  <div class="legend-controls">
    <h3>type of analysis</h3>
    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopetfidf" btn-radio="'dataTF'">TF</button>
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopetfidf" btn-radio="'dataTFIDF'">TF/IDF</button>
    </div>
    <h3>type of analysis</h3>
    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopescale" btn-radio="true">normalized</button>
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopescale" btn-radio="false">not normalized</button>
    </div>
  </div>
</div>