<div class="adv-step step0">
  <p>
    Here is the list of all the n-grams we extracted from the corpus. 
  </p>
<!-- <div class="legend-controls">
    <h3>Order by</h3>
    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopetfidf" btn-radio="'dataTF'">TF</button>
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopetfidf" btn-radio="'dataTFIDF'">TF/IDF</button>
    </div>
  </div> -->
</div>

<div class="adv-step step1">
  <p>
    cat C 
  </p>
</div>

<div class="adv-step step2">
  <p>
    cat E 
  </p>
</div>

<div class="adv-step step3">
  <p>
    Cat F
  </p>
</div>

<div class="adv-step step4">
  <p>
    Cat V 
  </p>
</div>

<div class="adv-step step5">
  <p>
   Cat Y
  </p>
</div>

<div class="adv-step step6">
    <p>
    Here is the list of all the n-grams we extracted from the corpus divided in the three categories. 

  </p>
  <div class="legend-controls">
    <h3>Order by</h3>
    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopetfidf" btn-radio="'dataTF'">TF</button>
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopetfidf" btn-radio="'dataTFIDF'">TF/IDF</button>
    </div>
  </div>
</div>