<div class="adv-step step0">
  <p>
    Here is the list of all the n-grams we extracted from the corpus. 
  </p>

</div>

<div class="adv-step step1">
  <p>
    All the relevant Ngrams we found in the corpus.
  </p>
  <div class="legend-controls">
<h3>Order by</h3>
<div class="btn-group">
<button type="button" class="btn btn-default" ng-model="ctrlmodels.slopetfidf" btn-radio="'dataTF'">TF</button>
<button type="button" class="btn btn-default" ng-model="ctrlmodels.slopetfidf" btn-radio="'dataTFIDF'">TF/IDF</button>
</div>
</div>
</div>

<div class="adv-step step2">
  <p>
    Analyzing the corpus by category using the TF it can be observed that the most frequent n-grams are related to the pain, the risks and the consequences of the CS (i.e. risk, incision, problem, complication, infection, pain, emergency). 
  </p>
  <div class="legend-controls">
    <h3>Order by</h3>
    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopetfidf" btn-radio="'dataTF'">TF</button>
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopetfidf" btn-radio="'dataTFIDF'">TF/IDF</button>
    </div>
  </div>
</div>

<div class="adv-step step3">
  <p>
    Another relevant group of n-grams is related to the facts and figures of CS (i.e. percent, time, study, reason, case, rate, number) as well as the group of n-grams related to the healthcare provides (i.e. doctor, hospital delivery, procedure). These three groups have a similar relative frequency in the three categories (medical, contentious, experience).
  </p>
  <div class="legend-controls">
    <h3>Order by</h3>
    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopetfidf" btn-radio="'dataTF'">TF</button>
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopetfidf" btn-radio="'dataTFIDF'">TF/IDF</button>
    </div>
  </div>
</div>

<div class="adv-step step4">
  <p>
    Ngrams related to "facts and figures"
  </p>
  <div class="legend-controls">
    <h3>Order by</h3>
    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopetfidf" btn-radio="'dataTF'">TF</button>
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopetfidf" btn-radio="'dataTFIDF'">TF/IDF</button>
    </div>
  </div>
</div>

<div class="adv-step step5">
  <p>
    Ngrams related to "delivery"
  </p>
  <div class="legend-controls">
    <h3>Order by</h3>
    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopetfidf" btn-radio="'dataTF'">TF</button>
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopetfidf" btn-radio="'dataTFIDF'">TF/IDF</button>
    </div>
  </div>
</div>


<div class="adv-step step6">
  <p>
    Explore the visualization
  </p>
  <div class="legend-controls">
    <h3>Order by</h3>
    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopetfidf" btn-radio="'dataTF'">TF</button>
      <button type="button" class="btn btn-default" ng-model="ctrlmodels.slopetfidf" btn-radio="'dataTFIDF'">TF/IDF</button>
    </div>
  </div>
</div>
</div>